/* section hero texts */
.hero__texts {
  display: grid;
  gap: 20px;
}

.hero__text {
  color: var(--cyan-blue);
  font-size: 1.25rem;
  font-weight: 600;
}

.hero__title {
  font-size: 50px;
  line-height: 1;
}

.text-bold {
  font-weight: 700;
}
.text-point {
  color: var(--cyan-blue);
}

.hero__second-text {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.3;
}




/* main */
/* Section plans */
.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 20px;
}

.plan {
  background-color: var(--dark-gray);
  max-width: 270px;
  height: max-content;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 15px #0003;
  border: 1px solid var(--dark-gray);
  
  flex-grow: 1;
  font-size: 1.125rem;
  color: var(--gray);
  transition: transform .3s;
}

.plan:hover {
  transform: scale(1.05) translateY(-20px);
}

.plan__header {
  background-color: var(--dark-gray);
  padding: 10px 0;
}

.plan__name {
  color: var(--white);
  text-align: center;
  font-size: 1.5625rem;
  font-weight: 700;
}

.plan__name span {
  color: var(--cyan-blue);
}

.plan__details {
  padding: 20px 0;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}

.plan__details p:nth-child(2) {
  font-size: 1.5625rem;
}

.plan__price span {
  font-weight: 500;
}

.plan__features {
  padding: 20px;
  border-top: 1px solid;
  font-weight: 500;
  display: grid;
}

.plan__feature {
  text-align: center;
}

.plan__cta {
  display: block;
  width: max-content;
  margin: 0 auto 20px;
  padding: 15px 30px;
  border: 1px solid;
  border-radius: 8px;
  
  font-weight: 700;
}

.plan__cta:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}




/* Section contact */
.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 40px;
  font-size: 1.125rem;
}

.contact__title {
  font-size: 1.875rem;
}

.contact__paragraph {
  margin: 10px 0 20px;
  line-height: 1.5;
}

.contact__cta {
  background-color: var(--yellow);
}

.contact__cta:hover {
  background-color: var(--yellow-hover);
}

.contact__picture {
  display: flex;
  align-items: center;
  padding: 20px;
}

.contact__img {
  box-shadow: 
  -20px -20px 0 var(--dark-gray),
  20px 20px 0 var(--dark-gray),
  0 0 30px var(--dark-gray);
}




/* Section bill*/
.bill {
  display: grid;
  place-items: center;
}

.bill__container {
  display: grid;
  gap: 40px;
  justify-items: center;
  width: min(800px, 100%);
  border: 3px solid var(--cyan-blue);
  padding: 40px;
  border-radius: 10px;
}

.bill__picture {
  max-width: 40%;
}

.bill__paragraph {
  font-size: 35px;
  text-align: center;
}

.bill__cta {
  background-color: var(--cyan-blue);
  min-width: 150px;
  text-align: center;
  color: var(--white);
}

.bill__cta:hover {
  background-color: var(--cyan-blue-hover);
}




/* Section consult location */
.location {
  max-width: 800px;
  text-align: center;
}

.location__title {
  font-size: 28px;
}

.location__cities {
  display: flex;
  justify-content: space-between;
}

.fa-location-dot {
  font-size: 30px;
}

.location__city {
  margin: 50px 0;
}

.location__question {
  font-size: 23px;
}

.form__inputs {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form__input {
  flex-grow: 1;
  height: 40px;
  padding: 0 10px;
  border: 2px solid var(--gray);
  border-radius: 8px;
  outline: none;
}

.form__input:focus {
  border-color: var(--cyan-blue);
}

.form__label {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
}

.form__cta {
  margin-top: 30px;
  min-width: 150px;
  background: var(--cyan-blue);
  color: white;
}

.form__cta:hover {
  background-color: var(--cyan-blue-hover);
}

.form__input-checkbox {
  width: 18px;
  height: 18px;
}



/* Logo the final */
.logo-footer {
  margin: 0 auto;
  max-width: 200px;
}


/* footer */
.footer {
  background-color: var(--navy-blue);
  color: var(--white);
}

.footer__content {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 40px;
}

.footer__logo {
  max-width: 150px;
}

.footer__paragraph {
  margin-top: 10px;
  max-width: 300px;
}

.footer__title {
  margin-bottom: 10px;
}

.footer__links {
  display: grid;
  gap: 5px;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 10px;
}


.footer__author {
  padding: 30px 0;
  background-color: var(--navy-blue-200);
  text-align: center;
}






@media (width < 1000px) {
  
  /* Menu mobile */
  .nav__toggle-cta {
    display: grid;
    place-items: center;
    
    height: 40px;
    width: 40px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 28px;
  }

  .nav__toggle-cta:hover {
    border: 1px solid var(--cyan-blue);
  }

  .nav__container {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }

  .nav__overlay {
    display: none;
    position: absolute;
    inset: 0;
    z-index: 10;
    overflow-y: scroll;
    
    background-color: var(--black-opacity);
    backdrop-filter: blur(15px);
  }

  .nav:has(input:checked) .nav__overlay {
    display: block;
  }

  .nav__toggle-cta:has(.fa-xmark) {
    position: absolute;
    top: 40px;
    right: 0;
  }

  .nav__links {
    display: grid;
    height: 100%;
    place-content: center;
    text-align: center;
  }



  .bill__paragraph {
    font-size: 25px;
  }

  .form__input {
    height: 50px;
  }

}