---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Megatel | Internet por Fibra Óptica.">
  <div class="bg-image"></div>

  <header class="cont hero text-white">
    <section class="flex justify-between">
      <Logo />
      <Nav />
    </section>
  </header>

</Layout>

<style>
  .bg-image {
    height: 145vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;

    background-image: url('../assets/img/internet-por-fibra-optica-meganet-rapido-veloz-mejor-internet5.jpg');
    background-color: var(--black-opacity);
    background-position: center;
    background-size: cover;
  }

  .hero {
    height: 100vh;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
