---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Megatel | Internet por Fibra Óptica.">
  <div class="bg-image"></div>

  <Header />


</Layout>

<style>
  .bg-image {
    height: 145vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;

    background-image: url('../assets/img/internet-por-fibra-optica-meganet-rapido-veloz-mejor-internet5.jpg');
    background-color: var(--black-opacity);
    background-position: center;
    background-size: cover;
  }
</style>
